<h1>Add new course</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" type="text" class="validate" required name="title">
        <label for="title">Course Title</label>
        <span class="helper-text" data-error="Enter title"></span>
    </div>
    <div class="input-field">
        <input id="price" type="number" class="validate" required min="1" name="price">
        <label for="price">Course Price</label>
        <span class="helper-text" data-error="Enter the price"></span>
    </div>
    <div class="input-field">
        <input id="image" type="text" class="validate" required name="image">
        <span class="helper-text" data-error="Choose an image"></span>
    </div>

    <button class="btn btn-primary">Add a course</button>

</form>